.container {
  background-color: var(--background-nav-color);
  padding: 20px 0 20px 20px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 30;
  flex-flow: column nowrap;
  width: 22%;
  height: 100vh;
  overflow: scroll;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logoContainer {
  width: 40%;
  padding: 0 10px;
}

.logoContainer img {
  width: 100%;
  height: auto;
}

.link {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 3% 5%;
  width: 100%;
  transition: all 0.3s;
}

.link:hover {
  color: var(--link-color);
  background-color: #1a1b1d;
}

.link img {
  border: 1px solid #b6b6b6;
  height: 2.2em;
  width: 2.2em;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.selected img {
  border: 1px solid var(--selected-color);
}

.nav {
  display: flex;
  gap: 10px;
  flex-flow: column nowrap;
}

.logout {
  height: 40px;
}

.selected {
  color: var(--selected-color);
  border-right: 3px solid var(--selected-color);
  background-color: #202224;
}

@media (max-width: 1200px) {
  .options {
    display: none;
  }
  .container {
    width: 10%;
    align-items: center;
  }

  .link {
    gap: 30px;
    margin-top: 10px;
  }

  .logoContainer {
    width: 130%;
    padding: 5px;
  }
}

@media (max-width: 700px) {
  .container {
    display: none;
  }
}
