.container {
  width: 100%;
  background-color: #111111da;
  padding: 0 10px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  display: none;
  top: 0;
  z-index: 30;
  height: 60px;
  flex-flow: row wrap;
  color: #ccc;
}

.logoContainer {
  height: 40px;
}

.logoContainer img {
  width: auto;
  height: 110%;
}

.icons {
  cursor: pointer;
}

.selected {
  color: var(--selected-color);
}

@media (max-width: 700px) {
  .container {
    display: flex;
  }
}
