:root {
  --background-nav-color: #131415;
  --link-color: #3c49ab;
  --selected-color: #586aea;
  --background-color: #111111;
  --text-color: #f3f3f3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  text-underline-offset: 3px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
