.main {
  width: 100%;
  background-color: #222;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 20px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.dp img {
  border-radius: 50%;
  margin: 10px 0;
  border: 2px solid #b6b6b6;
  height: 60px;
  width: 60px;
  object-fit: cover;
  object-position: center;
}

.name {
  font-size: 22px;
}

.uname {
  color: #b1b1b1;
}

.cta {
  margin-left: auto;
  padding: 10px 20px;
  color: #fff;
  background-color: #586aea;
  border: 1px solid #4350ad;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
}

.post {
  padding: 10px 0;
  font-size: 24px;
  color: #fff;
}

.actions {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}

.like,
.comment {
  cursor: pointer;
}

.like:hover {
  color: rgb(200, 43, 43);
}

.comment:hover {
  color: rgb(61, 65, 172);
}

.date {
  margin-left: auto;
  padding: 10px 0;
  color: #b1b1b1;
  text-align: right;
}
