.main {
  width: 100%;
  background-color: #222;
  border-radius: 20px;
  margin-top: 12px;
  padding: 10px 20px 3px 20px;
}

.link {
  display: flex;
  gap: 15px;
  align-items: center;
}

.content img {
  display: block;
  border-radius: 20px;
  margin: 10px auto;
  height: 400px;
  width: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.dp img {
  border-radius: 50%;
  margin: 10px 0;
  border: 2px solid #b6b6b6;
  height: 45px;
  width: 45px;
  object-fit: cover;
  object-position: center;
}
.name_and_uname {
  display: flex;
  gap: 10px;
  align-items: center;
}

.name {
  font-size: 18px;
}

.uname {
  color: #b1b1b1;
  font-size: 16px;
}

.skcta {
  margin-left: auto;
}

.options {
  margin-left: auto;
}

.post {
  padding: 10px 0;
  font-size: 20px;
  color: #e0e0e0;
  /* text-align: justify;
  text-justify: inter-word; */
}

.caption {
  padding: 10px 0;
  font-size: 16px;
  color: #ccc;
}

.actions {
  width: 100%;

  border-top: 1px solid #323232;
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-top: 5px;
  gap: 20px;
  justify-content: space-around;
}

.likebar,
.commentbar {
  text-align: center;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  color: #b1b1b1;
}

.like,
.comment {
  cursor: pointer;
}

.likebar:hover {
  color: rgb(200, 43, 43);
}

.commentbar:hover {
  color: rgb(61, 102, 172);
}

.commentbar {
  cursor: pointer;
}

.date {
  color: #b1b1b1;
}

@media (max-width: 768px) {
  .main {
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
  }
  .name {
    display: none;
  }
  .reactIcon {
    display: none;
    color: red;
  }
  .name_and_uname {
    flex-flow: column;
    align-items: flex-start;
    gap: 10px;
  }
}
