.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 10px;
  color: #f3f3f3;
}

.image img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border: 3px solid #ccc;
  border-radius: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.name_uname {
  display: flex;
  gap: 10px;
  align-items: center;
}

.name {
  font-size: 30px;
}

.username {
  font-size: 20px;
}

.bio {
  font-size: 15px;
}

.edit {
  font-size: 12px;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: rgb(39, 39, 42);
  width: 120px;
  justify-content: center;
  border-radius: 10px;
  color: rgb(204, 204, 204);
}

.edit:hover {
  background-color: rgb(63, 63, 70);
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  padding: 10px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 100%;
}

.data > * {
  text-align: center;
}

.text {
  margin-bottom: 5px;
}

.link {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #a6a6a6;
  font-size: 14px;
}

.edits {
  display: flex;
  gap: 10px;
}

.message {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px 10px;
  color: #fff;
  background-color: #586aea;
  border: 1px solid #4350ad;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-family: inherit;
}

.ctactions {
  display: flex;
  gap: 10px;
  flex-flow: row nowrap;
}

.message:hover {
  background-color: #4350ad;
}
