.logout {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 100px;
  margin: 10px;
}

@media (max-width: 768px) {
  .logout {
    margin: auto;
  }
}
