.bigbox {
  display: flex;
  width: 100%;
  padding: 10px;
  gap: 15px;
  border-radius: 10px;
  border: 1px solid #222;
  margin: 12px 0;
}

.displayPicture img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.children {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #ccc;
}

.info {
  font-size: 15px;
}

.text {
  font-size: 14px;
  color: #ccc;
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.name {
  color: #fff;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.more {
  font-size: 12px;
  color: #909090;
  text-align: left;
  width: 120px;
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.grandChildren {
  width: 100%;
  padding: 10px 0;
}

.commentbar:hover {
  color: rgb(61, 102, 172);
}

.commentbar {
  cursor: pointer;
}
