.container {
  padding: 20px;
  display: flex;
  object-fit: cover;
  object-position: center;
  background-image: url("../../../../public/images/background.jpg");
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-flow: row wrap;

  /* Apply backdrop filter for better text visibility */
  backdrop-filter: brightness(0.8) contrast(1.2);

  /* Set background size to cover */
  background-size: cover;
}

/* Add a semi-transparent background color to the container content */
.container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the alpha value for transparency */
  pointer-events: none; /* Ensure the pseudo-element doesn't interfere with interactions */
  z-index: -1; /* Place the pseudo-element behind the content */
}

.content {
  width: 50%;
}

.content img {
  width: 250px;
  height: auto;
}

.content h1 {
  font-size: 55px;
  padding: 10px;
}

.content h2 {
  font-size: 20px;
  padding: 10px;
  line-height: 35px;
}

.link,
.tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  gap: 50px;
}

.tags div {
  background-color: rgb(65, 65, 65);
  padding: 5px 10px;
}

.link > * {
  color: #586aea;
  padding: 5px 10px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.link > *:hover {
  color: #4350ad;
}

@media (max-width: 1164px) {
  .container {
    flex-direction: column;
  }

  .content {
    width: 100%;
  }

  .content h1 {
    font-size: 30px;
  }

  .content h2 {
    font-size: 15px;
  }

  .link > * {
    font-size: 12px;
  }

  .link,
  .tags {
    flex-direction: column;
    align-items: flex-start;
  }
}
