.form {
  background-color: #222;
  padding: 20px 40px;
  max-width: 800px;
  margin: 10px auto;
  border-radius: 17px;
}

.heading {
  margin: 10px auto 40px auto;
  text-align: center;
  /* text-decoration: underline;
  text-underline-offset: 3px; */
}

.errorMessage {
  color: red;
  margin-top: 5px;
}

.reanderPhoto {
  display: flex;
  align-items: center;
  gap: 20px;
}

.reanderPhoto img {
  border-radius: 50%;
  margin: 10px 0;
  border: 3px solid #b6b6b6;
  height: 90px;
  width: 90px;
  object-fit: cover;
  object-position: center;
}

.field {
  margin: 15px 0;
}

.input,
.submitButton {
  font-family: inherit;
  padding: 10px;
  font-size: 15px;
  margin-top: 8px;
  background-color: #e0e0e0;
  color: #111;
  border: 1px solid black;
  border-radius: 5px;
  outline: none; /* Remove the blue outline on focus */
}

.fileInput {
  outline: none;
  font-family: inherit;
  padding: 10px 0px;
  font-size: 15px;
}

.field .input:focus,
.fileInput:focus,
.submitButton:focus {
  /* Add styles for the focused state if needed */
  border: 1px solid #111;
}

.input {
  width: 350px;
}

.field textarea {
  width: 100%;
  font-family: inherit;
  resize: none;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  margin-top: 8px;
}

.label {
  display: block;
}

.description {
  margin: 10px 0;
}

.submitButton {
  width: 100%;
  background-color: #586aea;
  border: 1px solid #4350ad;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  color: #ccc;
  font-weight: bold;
}

.submitButton:hover {
  background-color: #4c59bc;
}

.linkInput {
  display: flex;
  width: 350px;
  align-items: center;
  margin-top: 8px;
  justify-content: center;
}

.http {
  padding: 10px;
  background-color: #d0d0d0;
  color: #111;
  border-radius: 5px 0 0 5px;
  font-size: 15px;
  height: 40px;
}

.link {
  color: #111;
  height: 40px;
  outline: none; /* Remove the blue outline on focus */

  flex-grow: 1;
  font-family: inherit;
  padding: 10px;
  font-size: 15px;
  background-color: #e0e0e0;
  color: #111;
  border-radius: 0 5px 5px 0;
  border: 1px solid #e0e0e0;
}

.link:focus,
.field textarea :focus {
  outline: none; /* Remove the blue outline on focus */
  border: 1px solid #e0e0e0;
}

.flexItems {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.success {
  background-color: rgb(49, 114, 49);
  border: 1px solid rgb(5, 51, 5);
}

.success:hover {
  background-color: rgb(49, 114, 49);
  border: 1px solid rgb(5, 51, 5);
}

.loading {
  background-color: rgb(75, 75, 75);
  border: 1px solid rgb(39, 39, 39);
}

.loading:hover {
  background-color: rgb(75, 75, 75);
  border: 1px solid rgb(39, 39, 39);
}

.disabled {
  cursor: not-allowed;
}

.colorGroup {
  display: flex;
  align-items: center;
}

.colorPreview {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
