.form {
  padding: 10px;
  width: 100%;
  margin: 0px auto;
  border-radius: 17px;
}

.errorMessage {
  color: red;
  margin-top: 5px;
}

.input,
.submitButton {
  font-family: inherit;
  font-size: 20px;
  padding: 10px;

  margin-top: 8px;
  background-color: #222;
  color: #ccc;
  border: 1px solid black;
  border-radius: 20px;
  outline: none; /* Remove the blue outline on focus */
}

.fileInput {
  outline: none;
  font-family: inherit;
  padding: 10px 0px;
  font-size: 15px;
}

.field textarea:focus {
  /* Add styles for the focused state if needed */
  border: 3px solid #586aea;
}

.field textarea {
  width: 100%;
  padding: 20px;
  resize: none;
  border: 3px solid #222;
}

.label {
  display: block;
}

.description {
  margin: 10px 0;
  font-size: 14px;
  color: #cccccc;
}

.submitButton {
  width: 100%;
  background-color: #586aea;
  border: 1px solid #4350ad;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

.submitButton:hover {
  background-color: #4c59bc;
}

.errorMessage {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}
