.form {
  padding: 10px;
  width: 100%;
  margin: 10px auto;
  border-radius: 17px;
}

.errorMessage {
  color: red;
  margin-top: 5px;
}

.field {
  margin: 15px 0;
}

.input,
.submitButton {
  font-family: inherit;
  padding: 10px 10px;
  font-size: 20px;
  margin-top: 8px;
  background-color: #ccc;
  color: #111;
  border: 1px solid black;
  border-radius: 5px;
  outline: none; /* Remove the blue outline on focus */
}

.fileInput {
  outline: none;
  font-family: inherit;
  padding: 10px 0px;
  font-size: 15px;
}

.field textarea:focus,
.submitButton:focus {
  /* Add styles for the focused state if needed */
  border: 1px solid #111;
}

.field textarea {
  width: 100%;
}

.label {
  display: block;
}

.description {
  margin: 10px 0;
  font-size: 14px;
}

.submitButton {
  width: 100%;
  background-color: #586aea;
  border: 1px solid #4350ad;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.submitButton:hover {
  background-color: #4c59bc;
}
