.form {
  padding: 10px;
}

.input {
  width: 100%;
  padding: 20px;
  resize: none;
  border: 3px solid #222;
  font-family: inherit;
  font-size: 17px;
  padding: 10px;
  margin: 8px 0;
  background-color: #222;
  color: #ccc;
  border-radius: 20px;
  outline: none; /* Remove the blue outline on focus */
}

.input:focus {
  /* Add styles for the focused state if needed */
  border: 3px solid #586aea;
}

.option {
  padding: 5px 10px;
  border: 1px solid #222;
  font-size: 15px;
  font-family: inherit;
  background-color: #bebebe;
  color: #000;
  border-radius: 7px;
  outline: none;
  margin: 5px 0;
  width: 100%;
}

.success {
  background-color: rgb(49, 114, 49);
  border: 1px solid rgb(5, 51, 5);
}

.success:hover {
  background-color: rgb(49, 114, 49);
  border: 1px solid rgb(5, 51, 5);
}

.loading {
  background-color: rgb(75, 75, 75);
  border: 1px solid rgb(39, 39, 39);
}

.loading:hover {
  background-color: rgb(75, 75, 75);
  border: 1px solid rgb(39, 39, 39);
}

.submitButton {
  font-family: inherit;
  padding: 10px;
  margin-top: 8px;
  outline: none;
  width: 100%;
  background-color: #586aea;
  border: 1px solid #4350ad;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

.submitButton:hover {
  background-color: #4c59bc;
}

.description {
  margin: 10px 0;
  font-size: 14px;
  color: #cccccc;
}

.optionGroup {
  display: flex;
  gap: 10px;
}

.field {
  width: 50%;
}

.label {
  font-size: 14px;
  margin: 5px 0 8px 0;
}

.errorMessage {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}
